<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Cadastrar Contrato</h1>

    <div class="card">

        <div class="card-header">
            <h5 class="card-title">Cadastro de Contrato</h5>
            <h6 class="card-subtitle text-muted">
                Preencha os dados do contrato
            </h6>
        </div>

        <div class="card-body">
            <div class="alert alert-primary border-0 shadow-sm d-flex align-items-center p-3 mb-4 rounded-3 alert-dismissible fade show"
                role="alert">

                <div class="me-3">
                    <i class="fas fa-circle-info fs-4 text-white bg-primary rounded-circle p-2"></i>
                </div>

                <div class="flex-grow-1">
                    <h6 class="fw-bold mb-0">
                        Preencha os campos marcados com <strong>*</strong>. Os demais são opcionais.
                    </h6>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>

            </div>
            
            <app-spinner *ngIf="carregando" [show]="true" message="Salvando contrato...">
            </app-spinner>

            <app-alerts *ngIf="!carregando && mensagemSucesso.length" titulo="Sucesso!" [mensagens]="mensagemSucesso"
                tipo="success" icone="fas fa-check-circle">
            </app-alerts>

            <app-alerts *ngIf="!carregando && mensagemErro.length" titulo="Erro!" [mensagens]="mensagemErro"
                tipo="danger" icone="fas fa-times-circle">
            </app-alerts>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- CONTRATO -->
                <div class="row mb-3">

                    <div class="col-md-4">
                        <label class="form-label">Número *</label>
                        <input class="form-control" formControlName="numero">
                    </div>
                    <div class="text-danger mt-1" *ngIf="form.get('numero')?.touched && form.get('numero')?.errors">
                        <div *ngIf="form.get('numero')?.errors?.['required']">
                            O número do contrato é obrigatório.
                        </div>
                    </div>
               
                    <div class="col-md-8">

                        <app-autocomplete-pessoa-unica label="Cliente *" placeholder="Digite o cliente"
                            [resultados]="clientesFiltrados" [selecionada]="clienteSelecionado"
                            (buscar)="buscarClientes($event)" (selecionadaChange)="clienteSelecionado = $event">
                        </app-autocomplete-pessoa-unica>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!clienteSelecionado && form.touched">

                        Escolha um cliente.

                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Processos: * </label>
                        <app-vinculo [resultados]="processosFiltrados" (buscar)="buscarProcessos($event)"
                            (selecionado)="selecionarProcesso($event)">
                        </app-vinculo>

                    </div>
                    <div class="text-danger mt-1" *ngIf="processosSelecionados.length === 0 && form.touched">

                        Escolha pelo menos um processo.

                    </div>
                    <div class="mt-3">
                        <div *ngIf="processosSelecionados.length" class="mt-3">

                            <h6 class="text-muted mb-2">
                                Processos Vinculados

                                <span class="badge bg-primary ms-1">
                                    {{ processosSelecionados.length }}
                                </span>
                            </h6>

                            <div *ngFor="let processo of processosSelecionados"
                                class="d-flex justify-content-between align-items-center py-2 px-2 border-bottom">

                                <div class="d-flex align-items-center flex-grow-1">

                                    <i class="fas fa-balance-scale text-primary me-3"></i>

                                    <div class="d-flex flex-column">

                                        <strong>
                                            {{ processo.numeroProcesso }}
                                        </strong>

                                        <small class="text-muted">
                                            {{ processo.pasta }}
                                        </small>

                                    </div>

                                </div>

                                <button type="button" class="border-0 bg-transparent p-0"
                                    (click)="removerProcesso(processo)">

                                    <i class="fas fa-fw fa-trash-alt text-muted"></i>

                                </button>

                            </div>

                        </div>

                    </div>

                </div>


                <!-- VALORES -->
                <div class="row mb-3">

                    <div class="col-md-4">
                        <label class="form-label">Valor *</label>
<input
  type="text"
  class="form-control"
  formControlName="valorContrato"
  (input)="onMoneyInput($event)"
/>
       
                    </div>
                    <div class="text-danger mt-1"
                        *ngIf="form.get('valorContrato')?.touched && form.get('valorContrato')?.errors">
                        <div *ngIf="form.get('valorContrato')?.errors?.['required']">
                            o Valor do contrato é obrigatório.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Data Início *</label>
                        <input type="date" class="form-control" formControlName="dataInicio">
                    </div>
                    <div class="text-danger mt-1"
                        *ngIf="form.get('dataInicio')?.touched && form.get('dataInicio')?.errors">
                        <div *ngIf="form.get('dataInicio')?.errors?.['required']">
                            A data de início do contrato é obrigatória.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Data Fim </label>
                        <input type="date" class="form-control" formControlName="dataFim">
                    </div>

                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!podeEnviar || carregando">

                    <i class="align-middle me-2 fas fa-save fa-lg"></i>
                    Salvar

                </button>

            </form>

        </div>

    </div>

</div>